:root {
  --background: #ffffff;
  --foreground: #000000;
  --foreground-muted: #c0bfbf;
  --dark: #282828;
  --border: #000000;
  --card: #fff;
  --primary: #c0bfbf;

  --status-danger: #ff3b30;
  --status-danger-active: #c91b11;
  --status-success: #319f43;

  --backdrop: rgba(0, 0, 0, 0.5);

  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 12px; // default
  --rounded-xl: 16px;
  --rounded-full: 9999px;

  --card-shadow-color: rgba(0, 0, 0, 0.05);

  --card-shadow-b: 0px 1px 2px 0px var(--card-shadow-color);
  --card-shadow: 0px 1px 2px 0px var(--card-shadow-color), 0px -1px 2px 0px var(--card-shadow-color);

  --card-shadow-md: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  --section-spacing: 90px;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --foreground-muted: #c0bfbf;
  --dark: #282828;
  --border: #ffffff;
  --card: #000000;
  --primary: #c0bfbf;

  --card-shadow-color: rgba(255, 255, 255, 0.05);
}

//screen config
$maxWidth: 1440;
$minWidth: 375;

$base-rem-unit: 16;

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 960px;
$br2: 768px;
$br3: 660px;
$br4: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

$base-rem-unit: 16;
